<section class="category">
  <div class="container">
    <h1 class="title">List of Category</h1>
    <div class="actions">
      <a href="/category/create" class="btn btn--create">Create</a>
    </div>
    <table class="table">
      <thead>
        <tr class="table__row">
          <th class="table__header">No.</th>
          <th class="table__header">Category Name</th>
          <th class="table__header">Category Description</th>
          <th class="table__header">Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each categories}}
        <tr class="table__row">
          <td class="table__data">{{calNumOrder @index 1}}</td>
          <td class="table__data">{{name}}</td>
          <td class="table__data">{{desc}}</td>
          <td class="table__actions">
            <a href="/category/update/{{_id}}" class="btn btn--edit">Edit</a>
            <a href="/category/delete/{{_id}}" onclick="return confirm('Are you sure want to delete ?')"
              class="btn btn--delete">
              Delete
            </a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>